@import "../../../style/media";
@import "../../../style/global";
@import "../../../style/colors";
@import "../../../style/typography";

.user-list {
	margin-top: 2rem;
	padding-top: 2rem;
	border-top: 3px solid $cc;

	.user-list-top-section {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 1rem;

		.user-list-actions {
			text-align: right;
			button {
				margin-left: 1rem;

				&.save-list,
				&.delete-list {
					color: $white;
				}
				&.save-list {
					background: $success;
				}

				&.delete-list {
					background: $danger;
				}
			}
		}
	}
}
