@import "../../../style/media";
@import "../../../style/global";
@import "../../../style/colors";
@import "../../../style/typography";
@import "../../../style/animations";

.task-card {
	position: relative;
	border-radius: 0.15rem;
	padding: 1rem;
	margin-bottom: 0.675rem;

	h1 {
		margin: 0;
		@extend .text-large;
	}

	.task-created {
		@extend .text-tiny;
		@extend .text-light;
	}

	button.update-task {
		background: $success;
		color: $white;
	}

	input.input-checkbox {
		z-index: 999;
		border: none;
	}

	input.input-checkbox,
	svg.checkmark {
		cursor: pointer;
		user-select: none;
		outline: none;
		position: absolute;
		width: 1.5rem;
		height: 1.5rem;
		top: 0.5rem;
		right: 0.75rem;
	}

	svg.checkmark {
		color: $three;
	}

	&.animate-out {
		@include animationFlipOut;
	}
}
