@import "../../style/media";
@import "../../style/global";
@import "../../style/colors";
@import "../../style/typography";

header {
	background: linear-gradient(to right, #b06ab3, #4568dc);

	.container {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-areas: "dodo" "hint";
		gap: 2rem 0;

		img {
			grid-area: dodo;
			width: 100%;
		}

		#hint {
			grid-area: hint;
			color: $white;
			text-align: left;
			a {
				color: $white;
			}
		}
	}
}

@include media-lg {
	.container {
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas: "dodo hint" !important;
		gap: 0 4rem !important;

		#hint {
			text-align: right !important;
		}
	}
}
