@import "../../style/media";
@import "../../style/global";
@import "../../style/colors";
@import "../../style/typography";

header {
	// https://uigradients.com/#CanYouFeelTheLoveTonight
	background: linear-gradient(to right, #b06ab3, #4568dc);

	.container {
		img {
			width: 100%;
		}

		#hint {
			color: $white;
			text-align: right;
			a {
				color: $white;
			}
		}
	}
}

@include media-lg {
	.container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 2rem;
		grid-template-areas:
			"dodo hint"
			"createBtn createBtn";

		img {
			grid-area: dodo;
		}

		#hint {
			grid-area: hint;
		}
	}
}
