@import "../../style/media";
@import "../../style/colors";

#howto {
	border-top: 1px solid $cc;
	ul {
		li {
			padding-left: 1rem;
			margin-bottom: 1rem;
		}
	}
}

footer {
	.container {
		display: grid;
		grid-template-columns: 1fr;
	}
}

@include media-lg {
	footer {
		.container {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			column-gap: 4rem;
		}
	}
}
